﻿
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <div class="jumbotron">
            <!--<h1>Status do Monitor de Integração: @ViewBag.Status</h1>-->
            <h1>Monitor de Integração</h1>
            <h4>Ao iniciar ou reiniciar o serviço do IIS, abra o link que chama o monitor de integração, assim ativa a integração.</h4>
        </div>
        <div class="row">
            <!--
            <div class="col-md-1">                
            </div>
            <div class="col-md-11">                
                <p><a href="@Url.Action("IniciarMonitor", "MonitorIntegracao")" class="btn btn-primary btn-lg">Iniciar Integração</a></p>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-11">
                <p><a href="@Url.Action("PararMonitor", "MonitorIntegracao")" class="btn btn-primary btn-lg">Parar Integração</a></p>
            </div>            
             
            <div class="col-md-1">
            </div>
            <div class="col-md-11">
                <p><a href="@Url.Action("StatusMonitor", "MonitorIntegracao")" class="btn btn-primary btn-lg">Status da Integração</a></p>
            </div>-->
        </div>
    </div>
</body>
</html>
